@charset utf-8

img#naruto {

	display: block;
	position: relative;
	height: 100px;
	width: 100px;
}

body {
	
	background: url("konoha.png");
	margin: -20px auto 0px auto;
}

div#interface {

	height: 1300px;
	width: 722px;
	margin: -20px auto 0px auto;
	
}

p#titulo {

	text-align: center;
	color: #ffffff;
	font: bold;
	font-size: 40pt;

	
}

img#naruto {

	display: block;
	position: relative;
	width: 500px;
	height: 500px;
	padding:0px;
	margin: 0px;
	left: 100px;
	top: 30px;
	
}

p#subTitulo {

	text-align: center;
	color: #ffffff;
	font: bold;
	font-size: 20pt;

	
}

